<div class="search-bar">
    <div class="search-leftpart">
        <img src="assets/bx-search.png" alt="search">
        <input type="text" placeholder="Search" class="search">
    </div>
    <div class="search-rightpart">
        <img src="assets/IconButton.png" alt="iconbutton">
        <img src="assets/Vertical Navbar/Categories.svg" alt="dashboard">
        <img src="assets/icon2.png" alt="icon2">
        <img src="assets/icon3.png" alt="icon3">
        <div class="profile-content">
            <i class="fas fa-user-circle"></i>
            <p>John Abraham<br />Admin</p>
        </div>
        <i class="fas fa-sort-down" id="arrow-icon"></i>
    </div>
</div>