.role-details-wrapper{
    width: 99%;
    padding-left: 0.5rem;
}

.operations{
    display: flex;
}

.operations .op-content{
    width: 65%;
    margin-top: 1rem;
}

.operations .op-btn{
    width: 35%;
    display: flex;
    margin-top: 1.5rem;
    justify-content: flex-end;
}

.add-btn{
    background-color:rgb(251, 57, 57);
    box-shadow: 2px 1px 10px rgb(220, 220, 220);
    border: none;
    width: 13rem;
    height: 2.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.add-btn a{
    text-decoration: none;
    color: white;
}

.role-description{
    width: 100%;
    display: block;
    margin-top: 0.5rem;
}

.details-wrapper {
    height: calc(100% - 290px);
    overflow-y: auto;
}

.role-details {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}

.details-card {
    width:32.3%;
    display: block;
    margin: 0.5rem 0.4%;
    border: 1px solid rgb(91, 91, 91);
    border-radius: 4px;
    background-color: white;
    padding: 1.3rem 1rem;
    box-sizing: border-box;
}

.line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem 0;
}

.icon {
    display: flex;
    align-items: center;
}

.icon img {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.7rem;
}

.icon-profile {
    display: flex;
    align-items: center;
}

.right-text {
    text-align: right;
    padding: 0.3rem 0 0 0; /* Adjusted for even padding */
    margin: 0.2rem 0 0 0;  /* Added margin for better spacing */
    cursor: pointer;
}

.right-text .right-arrow{
    font-size: 1.2rem;
    font-weight: bolder;
}

.many-users i {
    font-size: 1.5rem;
    padding-right: 0.7rem;
}

.error{
    font-size: 1rem;
    font-weight: bold;
    color:red;
}
